@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    /*PALETA DE CORES*/
    --preto1: #130912;
    --preto2: #161917;
    --bege: #fef1e0d6;
    --azul: #1B4693;
    --vermelho:#b9030f; 
    --branco: #fff;

    /*FONT DE ESCRITA*/

    --font-Oswald: 'Oswald', sans-serif;
    --font-Whisper: 'Whisper', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
}

body{
    background-color: var(--bege);
    font-family: var(--font-OpenSans);
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
}

header .container{
    height: inherit;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: var(--font-Whisper);
    color: var(--branco);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.container .ourDay{
    width: 100%;
    height: 15.33%;
    /* padding: 30px 0px; */
    background-color: var(--preto2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .logo{
    width: 100%;
    height: 59.33%;
    padding: 30px 0px;
    color: var(--preto1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .logo #img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.container .menu{
    width: 100%;
    height: 20.33%;
    background-color: var(--preto2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .menu li{
    padding: 10px;
    list-style: none;
}

.container .menu li a{
    text-decoration: none;
    color: var(--branco);
}


#Carrossel-fts{
    height: 100vh;
}



article{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #555;
}


.slider{
    flex: 1;
    overflow: hidden;
}

.slider--width{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    transition: all .5s linear;
}

.slider--item{
    width: 100vw;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: 0px 1px 1px #555;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.049);
}

.slider--controls{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    
}

.slider--control{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: #777777;
    cursor: pointer;
}

.slider--control{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.366);
}