@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    /*PALETA DE CORES*/
    --preto1: #130912;
    --preto2: #161917;
    --bege: #fef1e0d6;
    --azul: #1B4693;
    --vermelho:#b9030f; 
    --branco: #fff;

    /*FONT DE ESCRITA*/

    --font-Oswald: 'Oswald', sans-serif;
    --font-Whisper: 'Whisper', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
}

body{
    background-color: var(--bege);
    font-family: var(--font-OpenSans);
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
}

header .container{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: var(--font-Whisper);
    color: var(--branco);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.container .ourDay{
    width: 100%;
    padding: 30px 0px;
    background-color: var(--preto2);
}

.container .logo{
    width: 100%;
    height: 200px;
}

.container .logo #img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.container .menu{
    width: 100%;
    padding: 30px 0px;
    background-color: var(--preto2);
}

.container .menu li a{
    text-decoration: none;
    color: var(--branco);
}


#sectionTeste{
    height: 100vh;
}